numpy==1.19.5
torch
torchvision
torchaudio
scipy
cython
umap
scikit-learn
matplotlib
librosa
tensorboard>=1.14
future
pyarrow==0.14.0
lmdb==0.96
tqdm
fasttext
configargparse
soundfile
webdataset==0.1.103
opencv-python
pytorch-lightning
moviepy
scenedetect
lz4
transformers
wandb
pedalboard
pympi-ling
webvtt-py
git+https://github.com/vermeille/Torchelie@25f7b9b894ab267294269ad86234f2cce323ef02
ffmpeg
scenedetect
ninja
mediapipe
